body {
  /* will add background color later */
}

nav {
  border-bottom: 2px dotted grey;
}

nav > ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

nav > ul > li {
  list-style-type: none;
}

.logo {
  margin-right: auto;
}

.projects {
  border: 1px solid;
  border-radius: 10px;
}
