body {
  /* will add background color later */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #28443f;
}

p {
  color: #e9e8e6;
}

h2,
h3 {
  color: #f2fd7d;
}

nav {
  border-bottom: 2px dotted grey;
  width: 90%;
  color: #f2fd7d;
}

nav > ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

nav > ul > li {
  list-style-type: none;
}

nav > ul > li > a {
  text-decoration: none;
  color: #f2fd7d;
}

.logo {
  margin-right: auto;
  font-size: 25px;
  font-weight: 900;
}

.projects {
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.nest-projects {
  display: flex;
}

.about-me {
  /* border: 2px solid grey; */
  /* border-radius: 20px; */
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

.about-me p {
  padding: 10px;
}

.cards {
  border: 1px solid grey;
  border-radius: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px 10%;
  max-width: 1200px;
  margin: auto;
}

.cards img {
  width: 100px;
  height: 100px;
  border: 2px solid grey;
  border-radius: 45%;
  margin: 2px;
}

.realme {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

video {
  width: 200px;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  margin: 10px;
}

.cards button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 5px;
}
.cards button:hover {
  transform: scale(1.03);
}

.extra {
  width: 500px;
  height: auto;
}

footer {
  display: flex;
  gap: 20px;
}

.icon {
  color: #000;
  font-size: 24px;
  margin: 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: color 0.3s, background-color 0.3s;
}

.icon:hover {
  color: #ff5733;
  background-color: #f0f0f0;
}
