body {
  /* will add background color later */
}

nav {
  border-bottom: 2px dotted grey;
}

nav > ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

nav > ul > li {
  list-style-type: none;
}

.logo {
  margin-right: auto;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me img {
  border: 2px solid;
  border-radius: 50%;
}
